<div class="app-buttons" style="text-align: center; display: none;">
  <a href="https://apps.apple.com/us/app/wildwood-assembly/id6465793721" target="_blank">
    <img src="/img/apple-store.png" alt="Download on the App Store" style="height: 40px;">
  </a>
  &nbsp;&nbsp;
  <a href="https://play.google.com/store/apps/details?id=com.wildwoodag.church&pli=1" target="_blank">
    <img src="/img/google-store.png" alt="Get it on Google Play" style="height: 40px;">
  </a>
  <br><br>
</div>
<script>
function move_social() {
  let temp = document.querySelector(".social-menu");
  let clon = temp.cloneNode(true);
  temp.remove();
  clon.style.display = 'flex';

  document.querySelector(".site-footer").prepend(clon);
}

window.addEventListener("load", (event) => {
  move_social();
});

if (window.Capacitor) {

} else {
  document.querySelectorAll(".app-buttons").forEach((e) => {
    e.style.display = 'block';
  });
}
</script>
