.social-menu {
  display: none;
}

.social-menu svg {
  width: 48px;
  height: 48px;
}

.social-menu li {
  padding-right: 10px;
}

/* custom css */

.tc {
  text-align: center;
}

.tc-block {
  margin-left: auto;
  margin-right: auto;
}

p.j {
  text-align: justify;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns h4 {
  border: 0;
}

.columns > div {
  width: 300px;
  margin: 10px 20px;
}

.columns > div:first-child {
  margin-left: 0;
}

.columns > div:last-child {
  margin-right: 0;
}
